<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my-page</title>
    <style>
        :root {
            --weak-dark: rgb(64, 64, 64);
            --mid-dark: rgb(48, 48, 48);
            --strong-dark: rgb(32, 32, 32);
            --weak-light: rgb(160, 160, 160);
            --mid-light: rgb(184, 184, 184);
            --strong-light: rgb(208, 208, 208);
            --red: rgb(200, 0, 0);
            --transition: 0.2s;
        }

        body {
            margin: 0;
            font-family: sans-serif;
            background-color: var(--strong-light);
            color: var(--strong-dark);
        }

        label {
            font-size: 17px;
        }

        form {
            display: flex;
            flex-flow: column;
            gap: 10px;
            align-items: center;
            width: fit-content;
            outline: var(--strong-dark) solid 2px;
            border-radius: 20px;
            padding: 20px;
        }

        input[type=text], input[type=password] {
            width: 250px;
            padding: 5px;
            outline: none;
            border: 2px solid;
            border-radius: 5px;
            background-color: transparent;
            border-color: var(--weak-light);
            font-size: 15px;
            transition: border-color var(--transition);
        }

        input[type=text]:focus {
            border-color: var(--strong-dark);
        }

        input[type=password]:focus {
            border-color: var(--strong-dark);
        }

        input[type=submit] {
            display: inline-block;
            border: 2px solid;
            border-radius: 5px;
            padding: 5px;
            color: var(--strong-dark);
            border-color: var(--strong-light);
            background-color: transparent;
            transition: border-color var(--transition);
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
        }

        input[type=submit]:hover {
            cursor: pointer;
            border-color: var(--strong-dark);
        }

        .container {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 50px;
            height: 100%;
            width: 100%;
            align-content: center;
            justify-content: center;
        }

        #login-container {
            flex-direction: row-reverse;
        }

        #registration-container {
            visibility: hidden;
            flex-direction: row;
        }

        .switch-forms {
            font-size: 40px;
            align-self: center;
        }

        .switch-forms:hover {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container" id="login-container">
        <form name="sign-in" action="/login" method="POST">
            <label for="emailOrName">Email address or username</label>
            <input type="text" name="emailOrName">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" name="submit" value="Sign in">
        </form>
        <div class="switch-forms" onclick="switchToRegistration()">No account?</div>
    </div>
    <div class="container" id="registration-container">
        <form name="sign-up" action="/registration" method="POST">
            <label for="email">Email address</label>
            <input type="text" name="email">
            <label for="name">Username</label>
            <input type="text" name="name">
            <label for="password">Password</label>
            <input type="password" name="password" oninput="checkRepeatedPassword()">
            <label for="repeat-password">Repeat password</label>
            <input type="password" name="repeat-password" oninput="checkRepeatedPassword()">
            <input type="submit" name="submit" value="Sign up">
        </form>
        <div class="switch-forms" onclick="switchToLogin()">Back to login</div>
    </div>
    <script>
        const loginContainer = document.getElementById('login-container')
        const registrationContainer = document.getElementById('registration-container')
        const loginForm = document.forms['sign-in'].elements
        const registrationForm = document.forms['sign-up'].elements
        const computedStyle = getComputedStyle(document.body)

        function switchToRegistration() {
            loginContainer.style.visibility = 'hidden'
            registrationContainer.style.visibility = 'visible'
        }

        function switchToLogin() {
            registrationContainer.style.visibility = 'hidden'
            loginContainer.style.visibility = 'visible'
        }

        function checkRepeatedPassword() {
            if (registrationForm['password'].value !== registrationForm['repeat-password'].value) {
                registrationForm['repeat-password'].style.borderColor = computedStyle.getPropertyValue('--red')
            } else {
                registrationForm['repeat-password'].style.borderColor = null
            }
        }
    </script>
</body>
</html>